@font-face {
    font-family: 'Neon';
    src: url('fonts/Neon.eot');
    src: url('fonts/Neon.eot') format('embedded-opentype'),
        url('fonts/Neon.woff2') format('woff2'),
        url('fonts/Neon.woff') format('woff'),
        url('fonts/Neon.ttf') format('truetype'),
        url('fonts/Neon.svg#Neon') format('svg');
}
@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

body {
    margin: 0;
    background-color: #e0e0e0;
    font-family: "Neon";
}

div#slider {
    overflow: hidden;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 10s slidy infinite;
}
.itms{
    height: 200px;
    background-color: blueviolet;
}
.itms1{
    height: 200px;
    background-color: rgb(43, 89, 226);
}
.op{
    height: 200px;
    widows: 200px;
}
